jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write
    steps:
      - uses: actions/checkout@v4
      - name: Build artifact
        run: echo "secure data" > my-artifact.txt

      - name: Generate Attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: 'my-artifact.txt'
